@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";

.mapContainer {
    width: 100%;
    height: 400px
}

.mapClass {
    width: 100%;
    height: 100%;
    display: table;
    margin: 0px;
    padding: 0px;
}

.captionText {
    font-family: 'LoversQuarrel';
    font-size: 3em;
}

.captionTextStart {
    font-family: 'LoversQuarrel';
    font-size: 5em;
}

.venueText {
    text-align: center;
}
