body > header {
  background: $header-bg;
  @include background($header-bg-front, $header-bg-back);
  border-top: 1px solid $header-border-top;
  text-align: center;
  h1 {
    display: inline-block;
    font-size: 6em;
    font-family: "LoversQuarrel", sans-serif;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    font-family: "LoversQuarrel", sans-serif;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
